---
title: Marci is the best dev, like ever.
---



<h1>
  Marci is Running.
</h1>
<h2>See my other site!</h2>

<%= link_to(
  "marcipaineau.com",
  "http://marcipapineau.com/",
  target: "_blank"
) %>
